<div class="auth-container">
  <ng-container *ngIf="!isOtpStep">
    <div class="auth-card">
      <h2>Đăng Ký Tài Khoản</h2>

      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

        <div class="form-group">
          <label>Họ và Tên</label>
          <input type="text" formControlName="fullName" class="form-control">
          <div *ngIf="f['fullName'].touched && f['fullName'].errors" class="error-msg">
            <small *ngIf="f['fullName'].errors['required']">Họ và tên không được để trống.</small>
            <small *ngIf="f['fullName'].errors['minLength']">Họ và tên phải có ít nhất 2 ký tự.</small>
          </div>
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="email" formControlName="email" class="form-control">
          <div *ngIf="f['email'].touched && f['email'].errors" class="error-msg">
            <small *ngIf="f['email'].errors['required']">Email không được để trống.</small>
            <small *ngIf="f['email'].errors['email']">Vui lòng nhập đúng định dạng Email (Ví dụ:
              abc&#64;gmail.com).</small>
          </div>
        </div>

        <div class="form-group">
          <label>Mật khẩu</label>
          <input type="password" formControlName="password" class="form-control">

          <div *ngIf="f['password'].touched && f['password'].errors" class="error-msg">
            <small *ngIf="f['password'].errors['required']">
              Mật khẩu không được để trống.
            </small>

            <small *ngIf="f['password'].errors['minlength']">
              Mật khẩu phải dài tối thiểu 6 ký tự.
            </small>

            <small *ngIf="f['password'].errors['pattern']">
              Mật khẩu quá yếu! Phải bao gồm cả chữ hoa, chữ thường và chữ số.
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="registerForm.invalid || isLoading" class="btn-submit">
          {{ isLoading ? 'Đang xử lý...' : 'Đăng ký' }}
        </button>

        <p class="auth-redirect">
          Đã có tài khoản? <a routerLink="/login">Đăng nhập ngay</a>
        </p>
      </form>
    </div>
  </ng-container>

  <ng-container *ngIf="isOtpStep">
    <div class="auth-card">
      <h2>Xác Thực Email</h2>
      
      <p class="otp-subtitle">
        Chúng tôi vừa gửi mã gồm 6 số đến: <br>
        <strong>{{ registeredEmail }}</strong>
      </p>
      
      <form [formGroup]="otpForm" (ngSubmit)="onVerifyOtp()">
        <div class="otp-inputs-container">
          <input *ngFor="let i of [0,1,2,3,4,5]"
                 type="text"
                 maxlength="1"
                 [id]="'otp-' + i"
                 (input)="onOtpInput($event, i)"
                 (keydown)="onOtpKeydown($event, i)"
                 (paste)="onOtpPaste($event)"
                 class="otp-box">
        </div>

        <div class="timer-text">
          <span>Chưa nhận được mã? </span>
          <button type="button" class="resend-btn" [disabled]="!canResend" (click)="onResendOtp()">
            Gửi lại mã {{ !canResend ? '(' + countdown + 's)' : '' }}
          </button>
        </div>
        
        <button type="submit" [disabled]="otpForm.invalid || isLoading" class="btn-submit otp-submit-btn">
          {{ isLoading ? 'Đang xác thực...' : 'Xác nhận hoàn tất' }}
        </button>
        
        <p class="auth-redirect back-link-wrapper">
          <a href="javascript:void(0)" (click)="isOtpStep = false">Đổi email đăng ký</a>
        </p>
      </form>
    </div>
  </ng-container>
</div>